{% extends "baselogado.html" %} 

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block main_content %}
    
         
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li ><a href="{{ url_for('uploadtodosPrincipal') }}">Enviar arquivo<span class="sr-only">(current)</span></a></li>
            
            <!--li class="active"><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul-->
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">{{ name }}</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="static/img/vin_diesel.jpeg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
             
            
          </div>



          <h2 class="sub-header">Meus Arquivos:</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Título</th>
                  <th>Curso</th>
                  <th>Turma</th>
                  <th>Ano</th>
                  <th>Professor</th>
                  <th><center>Nome do Arquivo</center></th>
                </tr>
              </thead>
              <tbody>
              {% for arquivos in arquivos %}
                <tr>
                  <td>{{arquivos.titulo}}</td>
                  <td>{{arquivos.curso}}</td>
                  <td>{{arquivos.turno}}</td>
                  <td>{{arquivos.ano}}</td>
                  <td>{{arquivos.professor}}</td>
                  <td>{{arquivos.name}}</td>

                  <td><a href="/download-principal/{{arquivos.id}}">baixar</a></td>
                  <td><a href="/excluir/{{arquivos.id}}">excluir</a></td>
                </tr>
              {% endfor %} 
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}